.wrapper {
    width: 1240px;
    margin: 0 auto;
}

.orders {
    height: 52px;
    background-color: #333;
}

.orders ul {
    padding-right: 2px;
    height: 100%;
}

.orders ul li {
    float: right;

    height: 100%;
   
    line-height: 52px;
}

.orders ul li a {
    padding: 0px 16px;
    border-left: 2px solid #666666;

    font-size: 14px;
	color: #dcdcdc;
}

.orders ul li:last-child a{
    border-left: none;
}

.orders ul li a span {
    display: inline-block;

    margin-right: 8px;
    width: 11px;
    height: 16px;
    background: url(../images/sprites.png) no-repeat;
    background-position: -160px -70px;
    vertical-align: middle;
}

.head {
    height: 130px;
    background-color: white;
}

.head .nav {
    padding: 30px 5px 30px 25px;
}

.head .nav h1 {
    float: left;
    
    margin-right: 40px;
    width: 207px;
	height: 70px;
}

.head .nav h1 a img {
    width: 207px;
	height: 70px;
}

.head .nav ul {
    float: left;

    margin-right: 34px;
    height: 70px;
}

.head .nav ul li {
    float: left;

    margin-right: 48px;
    height: 100%;

    line-height: 70px;
}

.head .nav ul li a {
   
    padding-bottom: 8px;
}

.head .nav ul li:hover a {   
    color: #27ba9b;
    border-bottom: 2px solid  #27ba9b;
}

.head .nav .search {
    float: left;

    margin-top: 24px;
    margin-bottom: 13px;
    margin-right: 15px;
    width: 172px;
	height: 30px;
    border-bottom: 1px solid #e7e7e7;
}

.head .nav .search::before {
    content: '';

    float: left;

    margin-top: 4px;
    width: 22px;
    height: 21px;
    background: url(../images/sprites.png);
    background-position: -80px -70px;
}

.head .nav .search input {
    height: 28px;
    float: left;
    display: block;
    /* background-color: #27ba9b; */
    width: 150px;
}

.head .nav .search input::placeholder {
    font-size: 14px;
	color: #cccccc;
}

.head .nav .chart {
    float: left;
    display: block;
    
    margin-top: 28px;
    margin-bottom: 19px;
    width: 22px;
    height: 21px;
    background: url(../images/sprites.png) no-repeat;
    background-position: -120px -70px;
}

.footer {
    height: 343px;
    background-color: #333;
}

.footer .foot {
    width: 1393px;
    margin: 0 auto;
    /* background-color: #27ba9b; */
}
 
.footer .foot ul {
    padding: 61px 134px 56px 134px;
    height: 174px;
    border-bottom: 3px solid #434343;
}

.footer .foot ul li {
    float: left;
    margin-right: 303px;
}

.footer .foot ul li:first-child span {
    float: left;
    width: 57px;
    height: 57px;
    background-image: url(../images/sprites.png);
}

.footer .foot ul li h3{
    float: left;
    font-size: 28px;
	color: #ffffff;
}

.footer .foot ul li:nth-child(2) span {
    float: left;
    width: 57px;
    height: 57px;
    background-image: url(../images/sprites.png);
    background-position: -65px 0px;
}

.footer .foot ul li:last-child span {
    float: left;
    width: 57px;
    height: 57px;
    background-image: url(../images/sprites.png);
    background-position: -131px 0px;
}

.footer .foot ul li:last-child {
    margin-right: 0px;
}

.footer .foot p {
    margin-top: 41px;
    text-align: center;
    font-size: 14px;
	color: #999999;
}

.footer .foot p:last-child {
    margin-top: 20px;
}

